
{% block content %}
<h3> Farmtrac</h3>
<p> 
Farmtrac is a tractor that will always remain ahead of time. 
It is equipped with modern engineering and machines with extreme power and traction, 
which can pull bigger traction with greater efficiency. This premium range of tractors is available in the range of 37 HP to 75 HP. 
It is a high performance, versatile rugged machine with maximum comfort for the driver. 
Framtrac series of tractors is definitely machines that have style with substance.</p>
{% endblock %}